div{
    height: 50px;
    width:50px;
    background-color: rgb(222, 134, 134);
}

@media(width: 600px){
    div{
        background-color: rgb(70, 209, 70);
    }
}

@media(min-width:600px){
    div{
        background-color: rgb(70, 75, 209);
}

}

@media(min-width:200px)and (max-width:300px)
{
    div{
        background-color: rgb(206, 241, 46);
    }
}